nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.column-left p, .column-left h1, .column-left a {
    
}

a {
    color: white;
    background-color: black;
    
}