nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

header {
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding: 30px 130px;
    align-items: center;
    justify-content: center;
}

.column-right img {
    width: 100%;
    height: auto;
}

.column-left .introduction {
    width: 70%;
}

a {
    color: white;
    background-color: black;
    padding: 10px 20px;
}